body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 0px 20% 32px 20%;
    background-color: #1f2937;
}

.upper-header, .lower-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.left{
    align-items: flex-start;
}

.right{
    align-items: flex-end
}

.name, .intro{
    font-weight: bold;
    color: #f9faf9
}

.header, .body, .quote, .last{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.body{
    justify-content: center;
    align-items: center;
    margin-bottom: 24px; 
}

.intro-cont, li{
    font-size: 18px;
    color: #E5E7EB;
}

.lucy{
    font-size: 28px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 32px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 32px;
}

.item{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-text{
    text-align: center;
    height: 40px;
}

.last-section{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#by{
    font-size: 16px;
}

.box{
    display: flex;
    background-color: #3882f6;
    margin: 32px 64px 32px 64px;
    border-radius: 12px;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.box-left, .box-right{
    display: flex;
    flex-direction: column;
    color: #f9faf9;
}

#header{
    font-size: 20px;
    font-weight: bolder;
}


.footer{
    background-color: #1f2937;
    display: flex;
    flex: 1;
    color: #f9faf9;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #3882f6;
    color: #f9faf9;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 32px;
}

#last-button{
    border: 3px solid #f9faf9;
    width: 112px;
}

img{
    height: auto;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

#long{
    width: 250px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}
